*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
    header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .header-col{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .header-col-1{
        justify-content: flex-start;
    }

    .header-col-2{
        justify-content: flex-end;
    }
/* FINE HEADER */

/* UTILITIES */
    .container{
        width: 100%;
    }

    .row{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }

    .row > div{
        border: 1px dashed black;
    }

    .col-50{
        width: calc(100% / 2);
        height: 50px;
        background-color: #fff;
    }
/* FINE UTILITIES */