*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
    header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .header-col{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        background-color: #fff;
        height: 50px;
    }

    .header-col-1{
        justify-content: flex-start;
    }

    .header-col-2{
        justify-content: flex-end;
    }
/* FINE HEADER */

/* MAIN */
    /* JUMBOTRON */
        .jumbotron-section{
            background-color: #B4D0E7;
            margin-top: 50px;
        }

        .jumbotron-section > .container-2{
            padding-top: 70px;
            padding-bottom: 30px;
        }

        .jumbotron-col-1{
            height: 200px;
        }

        .jumbotron-col-2, .jumbotron-col-3{
            height: 500px;
        }

        .jumbotron-col-2 .col-100{
            height: calc(500px / 4);
        }
    /* FINE JUMBOTRON */
    /* PACK SECTION */
        .pack-section-col-1, .pack-section-col-2{
            height: 100px;
        }

        .pack-section-col-3, .pack-section-col-3 .col-33{
            height: 800px;
        }

        .pack-section-col-4{
            height: 300px;
            margin-top: 50px;
        }

        .pack-section-col-4 .col-100:first-child{
            height: 50px
        }

        .pack-section-col-4 .col-100:last-child{
            height: 250px;
        }

        .col-100 > .enterprise-row > .col-50{
            height: 150px;
        }

        .col-100 > .enterprise-row > .col-100{
            height: 100px;
        }
    /* FINE PACK SECTION */
    /* PARTNER SECTION */
        .partner-section-col-1, .partner-section-col-2{
            height: 500px;
        }

        .partner-section-col-2 .col-100{
            height: calc(500px / 3);
        }
    /* FINE PARTNER SECTION */
/* FINE MAIN */

/* UTILITIES */
    /* CONTAINER */
        .container-1{
            width: 100%;
        }

        .container-2{
            width: 60%;
            margin: 0 auto;
        }

        .container-3{
            width: 50%;
            margin: 100px auto;
        }
    /* FINE CONTAINER */
    /* ROW */
        .row{
            width: 100%;
            display: flex;
            flex-flow: row wrap;
        }
    /* FINE ROW */
    .row > div{
        border: 1px dashed black;
    }
    /* COL */
        .col-100{
            width: 100%;
        }
        
        .col-73{
            width: 73%;
        }
        
        .col-60{
            width: 60%;
        }

        .col-50{
            width: 50%;
        }

        .col-40{
            width: 40%;
        }

        .col-33{
            width: calc(100% / 3);
        }

        .col-27{
            width: 27%;
        }
    /* FINE COL */
/* FINE UTILITIES */